<!DOCTYPE html>
<html>
<head>
    <title>How to create a website in HTML & CSS step by step</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/css/home.css" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,500,600,700,900|Roboto&display=swap" rel="stylesheet" />
</head>
<body>
    <div class="header">
        <div class="navbar">
            <div class="logo">
                <a href="#"><img src="img/logo.jpg" /></a>
            </div>
            <div class="menu">
                <ul>
                    <li>Trang chủ</li>
                    <li>Về Chúng tôi</li>
                    <li>Dịch thuật</li>
                    <!-- <li>Service</li>
                    <li>Blog</li>
                    <li>Shop</li> -->
                    <!-- <li>Contact</li> -->
                </ul>
            </div>
            <div class="user">
                <%if (status == 'LoggedIn'){ %>
                    <a class="reg-btn" href="/logout">Log out</a>
                <%} else{%>
                    <a class="reg-btn" href="/login">Log in</a>
                <%} %>
                <%if (status == 'LoggedIn'){ %>
                    <div class="circle">
                        <img src="img/Animepic3.jpg" alt="Your Image">
                    </div>
                <%} else{%>
                    <div class="circle">
                        <img src="img/PICA.jpg" alt="Your Image">
                    </div>
                <%} %>
            </div>
        </div>

        <div class="banner">
            <div class="app-text">
                <h3>Chào mừng đến với Infinity Translate</h3>
                <h1>Nơi bạn thoả sức khám phá thế giới ngôn ngữ nhiều màu sắc</h1>
                <p>Hãy cùng chúng tôi thoả mãn niềm đam mê dịch thuật trong bạn!</p>
            </div>
        </div>
        <div class="social-icons">
            <ul>
                <li>
                    <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                    <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
