<!DOCTYPE html>
<html>
    <head>
        <title>Translate infinity</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" type="text/css" href="/css/translate.css" />
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,500,600,700,900|Roboto&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    </head>
    <body>
        <div class="header">
            <div class="navbar">
                <div class="logo">
                    <a href="#"><img src="img/logo.jpg" /></a>
                </div>
                <div class="menu">
                    <ul class="menu2">
                        <li><a href="/">Trang chủ</a></li>
                        <li><a class="active">Dịch thuật</a></li>
                        <li><a href="/about">Về Chúng tôi</a></li>
                    </ul>
                </div>
                <div class="user">
                    <%if (status == 'LoggedIn'){ %>
                    <a class="reg-btn" href="/logout">Log out</a>
                    <%} else{%>
                    <a class="reg-btn" href="/login">Log in</a>
                    <%} %> <%if (status == 'LoggedIn'){ %>
                    <div class="circle">
                        <img src="img/Animepic3.jpg" alt="Your Image" />
                    </div>
                    <%} else{%>
                    <div class="circle">
                        <img src="img/PICA.jpg" alt="Your Image" />
                    </div>
                    <%} %>
                </div>
            </div>

            <div class="banner">
                <div class="app-text">
                    <h3>Infinity Translate</h3>
                </div>
            </div>

            <div class="container">
                <div class="wrapper">
                    <div class="text-input">
                        <textarea spellcheck="false" class="from-text" placeholder="Enter text"></textarea>
                        <textarea spellcheck="false" readonly disabled class="to-text" placeholder="Translation"></textarea>
                    </div>
                    <ul class="controls">
                        <li class="row from">
                            <div class="icons">
                                <i id="from" class="fas fa-volume-up"></i>
                                <i id="from" class="fas fa-copy"></i>
                            </div>
                            <select></select>
                        </li>
                        <li class="exchange"><i class="fas fa-exchange-alt"></i></li>
                        <li class="row to">
                            <select></select>
                            <div class="icons">
                                <i id="to" class="fas fa-volume-up"></i>
                                <i id="to" class="fas fa-copy"></i>
                            </div>
                        </li>
                    </ul>
                </div>
                <button>Translate Text</button>
            </div>
        </div>

        <script src="/js/countries.js"></script>
        <script src="/js/script.js"></script>
    </body>
</html>
