<!DOCTYPE html>
<html>
    <head>
        <title>Translate infinity</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="shortcut icon" href="/img/infinity.png" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="/css/translate.css" />
        <link rel="stylesheet" type="text/css" href="/css/translateResponsive.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,500,600,700,900|Roboto&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    </head>
    <body>
        <div style="visibility: hidden;">Mục đích: đưa <body> trở về vị trí đầu trang</div>
        <header class="header" id="header">
            <nav class="nav container">
                <a href="/" class="nav__logo">
                    <img src="/img/infinity.png" class="nav__logo-img"> 
                    <span class="logo-header_text">infinity</span>
                </a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="/translate" class="nav__link active-link">Translate</a>
                        </li>

                        <li class="nav__item">
                            <a href="/flashcard" class="nav__link">flashcard</a>
                        </li>

                        <li class="nav__item">
                            <a href="#docs" class="nav__link unused">Docs</a>
                        </li>
                        
                        <a href="#support" class="nav__link unused">Support</a>
                    </ul>

                    <div class="nav__close" id="nav-close">
                        <i class='bx bx-x'></i>
                    </div>

                    <img src="/img/nav-img.png" alt="" class="nav__img">
                </div>

                <div class="nav__toggle" style="cursor: pointer;" id="nav-toggle">
                    <i class="fa-solid fa-bars"></i>
                </div>

                <div class="user">
                    <%if (status == 'LoggedIn'){ %>
                        <div class="circle">
                            <img src="img/Animepic3.jpg" alt="Your Image">
                        </div>
                        <div class="userid" style="display: none;"><%= user.ID %></div>
                    <%} else{%>
                        <a href="/login">
                            <div class="nav__login">
                                <i class="fa-solid fa-arrow-right-to-bracket fa-lg"></i>
                            </div>
                        </a>
                    <%} %>
                </div>
                <%if (status == 'LoggedIn'){ %>
                    <div class="vertical-menu">
                        <a href="/logout">Log out</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                        <a href="#">Link 4</a>
                    </div>
                <%} %>
            </nav>
        </header>
        <main class="wrap_content">
            <div class="btn_group">
                <div class="box box1">
                    <button class="toggle-btn toggle-btn1"><i class="ri-history-line header_icon" style="color:#4255FF; margin-right: 10px"></i>
                        History
                        <div class="test_color"></div>
                    </button>
                </div>
                <div class="box box2">
                    <button class="toggle-btn toggle-btn2"><i class="ri-heart-fill header_icon" style="color: #4255FF; margin-right: 10px"></i>
                        Favorite
                        <div class="test_color"></div>
                    </button>
                </div>
            </div>

            <div class="sidebar sidebar1">
                <div class="sidebar_header">
                    <h2 class="sidebar_title"><i class="ri-history-line header_icon" style="color:#4255FF"></i>
                        History</h2>
                        <i class="ri-close-line close_sidebar" style="color:rgb(94, 94, 94)"></i>
                </div>
                <div id="product-list-container"></div>
            </div>
            <div class="sidebar sidebar2">
                <div class="sidebar_header">
                    <h2 class="sidebar_title"><i class="ri-heart-fill header_icon" style="color: #4255FF"></i>
                        Favorite</h2>
                        <i class="ri-close-line close_sidebar" style="color:rgb(94, 94, 94)"></i>
                </div>

                <div id="product-list-container-favor"></div>
            </div>

            <div class="container">
                <div class="wrapper">
                    <div class="text-box">
                        <ul class="controls mobile">
                            <li class="row from">
                                <select></select>
                            </li>
                            <li class="exchange"><i class="fas fa-exchange-alt"></i></li>
                            <li class="row to">
                                <select></select>
                            </li>
                        </ul>
                        <div class="text-input">
                            <textarea spellcheck="false" class="from-text" placeholder="Enter text" ></textarea>
                            <ul class="controls mobile">
                                <li class="row from">
                                    <div class="icons">
                                        <i id="from" class="fas fa-volume-up"></i>
                                        <i id="from" class="fas fa-copy"></i>
                                        <i class="fa-solid fa-microphone"></i>
                                    </div>
                                </li>
                            </ul>
                            <textarea spellcheck="false"  disabled class="to-text" placeholder="Translation"></textarea>
                        </div>
                    </div>
                </div>
                <ul class="controls mobile">
                    <li class="row to">
                        <div class="icons">
                            <i id="to" class="fas fa-volume-up"></i>
                            <i id="to" class="fas fa-copy"></i>
                        </div>
                    </li>
                </ul>
                <ul class="controls desktop">
                    <li class="row from">
                        <div class="icons">
                            <i id="from" class="fas fa-volume-up"></i>
                            <i id="from" class="fas fa-copy"></i>
                            <i class="fa-solid fa-microphone"></i>
                        </div>
                        <select></select>
                    </li>
                    <li class="exchange"><i class="fas fa-exchange-alt"></i></li>
                    <li class="row to">
                        <select></select>
                        <div class="icons">
                            <i id="to" class="fas fa-volume-up"></i>
                            <i id="to" class="fas fa-copy"></i>
                            <i class="fas fa-copy" style="visibility: hidden;"></i>
                        </div>
                    </li>
                </ul>
                <button class="translateBtn">Translate Text</button>
            </div>
        </main>
            <div class="footer-list">
                <footer class="footer section">
                    <div class="footer__container container grid">
                        <div class="footer__content">
                            <a href="#" class="footer__logo">
                                <img src="/img/infinity.png" alt="" class="footer__logo-img">
                                infinity
                            </a>
    
                            <p class="footer__description">Enjoy the best translation app of your life.</p>
                            
                            <div class="footer__social">
                                <a href="https://www.facebook.com/" target="_blank" class="footer__social-link">
                                    <i class='bx bxl-facebook'></i>
                                </a>
                                <a href="https://www.instagram.com/" target="_blank" class="footer__social-link">
                                    <i class='bx bxl-instagram-alt' ></i>
                                </a>
                                <a href="https://twitter.com/" target="_blank" class="footer__social-link">
                                    <i class='bx bxl-twitter' ></i>
                                </a>
                            </div>
                        </div>
    
                        <div class="footer__content">
                            <h3 class="footer__title">About</h3>
                            
                            <ul class="footer__links">
                                <li>
                                    <a href="#" class="footer__link">About Us</a>
                                </li>
                                <li>
                                    <a href="#" class="footer__link">Features</a>
                                </li>
                                <li>
                                    <a href="#" class="footer__link">News</a>
                                </li>
                            </ul>
                        </div>
    
                        <div class="footer__content">
                            <h3 class="footer__title">Our Services</h3>
                            
                            <ul class="footer__links">
                                <li>
                                    <a href="#" class="footer__link">Pricing</a>
                                </li>
                                <li>
                                    <a href="#" class="footer__link">Discounts</a>
                                </li>
                                <li>
                                    <a href="#" class="footer__link">Shipping mode</a>
                                </li>
                            </ul>
                        </div>
    
                        <div class="footer__content">
                            <h3 class="footer__title">Our Company</h3>
                            
                            <ul class="footer__links">
                                <li>
                                    <a href="#" class="footer__link">Blog</a>
                                </li>
                                <li>
                                    <a href="#" class="footer__link">About us</a>
                                </li>
                                <li>
                                    <a href="#" class="footer__link">Our mision</a>
                                </li>
                            </ul>
                        </div>
                    </div>
    
                    <span class="footer__copy">&#169; Infinity. All rights reserved</span>
    
                    <img src="/img/footer1-img.png" alt="" class="footer__img-one">
                    <img src="/img/footer2-img.png" alt="" class="footer__img-two">
                </footer>
            </div>
        </div>
        <div class="overlay"></div>
        <script src="https://kit.fontawesome.com/f34da6635c.js" crossorigin="anonymous"></script>
        <script src="/js/countries.js"></script>
        <script src="/js/script.js"></script>
    </body>
</html>
