@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lexend:wght@100..900&display=swap');

body{
    overflow-x: hidden;
}

.titleName h2{
    font-family: "Lexend", sans-serif;
    text-transform: capitalize;
    font-size: 3.5rem;
    margin-bottom: 60px;
    font-weight: 600;
    color: black;
}
.flipCard-controller{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.flipCard-controller div{
    transition: .2s ease;
}
.flipCard-controller .shuffle-wrap:hover{
    background-color: #6ea6f4;
}
.back-wrap:hover, .next-wrap:hover{
    background-color: #72b4f5;
}
.play-wrap:hover{
    background-color: #79c4f3;
}
.controller{
    font-size: 50px;
    color: #3b3e46;
}
.back-wrap, .next-wrap{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 65px;
    padding: 20px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #cdd0d4;
}
.center-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}
.progress-text{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #3b3e46;
}
.beside-controller{
    font-size: 35px;
    color: #3b3e46;
}
.shuffle-wrap, .play-wrap{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
}
.left-wrap{
    display: flex;
    justify-content: center;
    column-gap: 5px;
    align-items: center;
    overflow: hidden;
    border-radius: 50px;
}
.play-wrap{
    z-index: 2;
}
.left-wrap h3{
    color: #3b3e46;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.1s ease;
}
.left-wrap h3:hover{
    color: rgb(127, 127, 144);
    cursor: pointer;
}
.speed{
    position: relative;
    left: -220px;
}
.visible{
    left: -220px;
    animation: slideIn 0.2s ease-out forwards;
}
.invisible{
    animation: slideOut 0.2s ease-in forwards;
}

@keyframes slideIn {
    from {
        left: -220px;
        opacity: 0;
    }
    to {
        left: 0;
        opacity: 1;
    }
}
@keyframes slideOut {
    from {
        opacity: 1;
        left: 0;
    }
    to {
        opacity: 0;
        left: -220px;
    }
}
.activeSpeed{
    color: blue !important;
}
/* .left-wrap .speed1 */
.right-wrap{
    display: flex;
    justify-content: center;
    column-gap: 5px;
    align-items: center;
}
.right-wrap h3{
    visibility: hidden;
    margin-left: 10px;
}
.backEffect{
    animation: back 0.2s;
}
.nextEffect{
    animation: next 0.2s;
}
.spacing-line{
    margin: 10px auto;
    height: 0.125rem;
    background-color: #d9dde8;
}
.progress-bar{
    background-color: gray;
    height: 100%;
    width: 0;
}
.flip-card_content-back{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    height: 80%;
}

@keyframes back {
    from {transform: translateX(-100px) rotateY(20deg)}
    to {transform: translateX(0) rotateY(0)}
}
@keyframes next {
    from {transform: translateX(100px) rotateY(-20deg)}
    to {transform: translateX(0) rotateY(0)}
}