/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    cursor: pointer;
}

button{
  cursor: pointer;
}

ul{
    list-style: none;
}

/* h1,h2,h3,h4{
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
} */
/* translate */
body{
  min-height: 100vh;
  position: relative;
  background: linear-gradient(109.6deg, rgba(156, 252, 248, 1), rgba(110, 123, 251, 1));
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--text-color)
}

:root {
  --header-height: 3.5rem;
  --nav-color: #131417;
  /*========== Colors ==========*/
  --hue: 14;
  --first-color: hsl(var(--hue), 91%, 54%);
  --first-color-alt: hsl(var(--hue), 91%, 50%);
  --title-color: hsl(var(--hue), 4%, 100%);
  --text-color: hsl(var(--hue), 4%, 65%);
  --text-color-light: hsl(var(--hue), 4%, 55%);

  /*Green gradient*/
  --body-color: #131417;
  --container-color: linear-gradient(136deg, hsl(103, 100%, 10%) 0%, hsl(226, 97%, 51%) 100%);
  
  /*========== Font and typography ==========*/
  /* --body-font: 'Poppins', sans-serif; */
  --body-font: 'Poppins', whyte, sans-serif;
  --font-size-title: 5rem;
  --font-size-content: 1.375rem;
  --font-size-footter-header: 4rem;
  --font-size-video: 3rem;
  --font-size-box5-content: 2.375rem;
  --font-size-button: 1.125rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-black: 900;

  /*========== Margenes Bottom ==========*/
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;

  /* =========== Margenes Customize =============== */
  --margin-bottom-title: 32px;
  --margin-bottom-text-title: 24px;
  --margin-bottom-content: 32px;
  --margin-left-container: 58px;
  --margin-left-container-sm: 32px;

  /* =========== Paddies Customize =============== */
  --padding-top-function: 144px;
  --padding-top-box5-content: 100px;
  --padding-top-box5-title: 200px;

}

/* ================ My self =============================== */
:root{
  --margin-content: 250px;
}

/* =============== ANIMATION ========================= */
.toggle-btn1:hover, .toggle-btn2:hover {
  transform: translateY(-.08rem);
}

/* ======================= LAYOUT ============================= */
.container{
    max-width: 968px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid{
    display: grid;
}

/*=============== HEADER ===============*/
.header{
    width: 100vw;
    background: transparent; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}

/* ================== AVATAR ================= */
.circle {
    width: 50px;
    height: 50px;
    background-color: #f00; /* Màu nền */
    border-radius: 50%; /* Đảm bảo nó là một hình tròn */
    overflow: hidden; /* Ẩn nội dung vượt ra ngoài */
    display: flex; /* Sử dụng flexbox */
    justify-content: center; /* Canh giữa theo chiều ngang */
    align-items: center; /* Canh giữa theo chiều dọc */
}

.circle img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    object-fit: cover; /* Fit hình ảnh toàn bộ vào div */
}


/*=============== NAV ===============*/
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo{
    display: flex;
    align-items: center;
    column-gap: .5rem;
    font-weight: var(--font-medium);
}

.nav__logo-img{
    width: 1.5rem;
}

.nav__link,
.nav__logo{
    color: var(--title-color);
}

.nav__close{
    color: #3c87c9;
}
.nav__toggle{
    font-size: 1.25rem;
    color: #3c87c9;
    cursor: pointer;
    order: -1;
}

.nav__login{
    margin-left: 150px;
    color: #3c87c9;
}

@media screen and (max-width: 767px){
    .nav__menu{
        position: fixed;
        width: 100%;
        background: var(--nav-color);
        top: -150%;
        left: 0;
        padding: 3.5rem 0;
        transition: .4s;
        z-index: var(--z-fixed);
    }
    .nav__login{
        margin-left: 0px;
    }
    .logo-header_text{
        display: none;
    }

}
.nav__img{
    width: 100px;
    position: absolute;
    top: 0;
    right: 0;
}

.nav__close{
    font-size: 1.8rem;
    position: absolute;
    top: .5rem;
    left: .7rem;
    cursor: pointer;
}

.nav__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
}

.nav__link{
    text-transform: uppercase;
    font-weight: var(--font-semi-bold);
    transition: .3s;
}

.nav__link:hover{
    color: #3c87c9;
}

/* Show menu */
.show-menu{
    top: 0;
}

/* Change background header */
.scroll-header{
  /* background: var(--container-color); */
  /* background-color: #131417; */
    background-color: #131417;
}

/* Active link */
.active-link{
    position: relative;
}

.active-link::before{
    content: '';
    position: absolute;
    bottom: -.75rem;
    left: 45%;
    width: 5px;
    height: 5px;
    background-color: var(--title-color);
    border-radius: 50%;
}

.nav__login:hover{
    color: #0056b3; 
}
.nav__toggle:hover{
    color: #0056b3;
}
.nav__close:hover{
    color: #0056b3;
}
.nav__logo-img, .logo-header_text, .footer__logo-img{
    transition: .2s;
}
.nav__logo:hover .nav__logo-img{
    transform: rotateZ(90deg);
}
.footer__logo:hover .footer__logo-img{
    transform: rotateZ(90deg);
}

.nav__logo:hover .logo-header_text{
    color: #3c87c9;
}
@media screen and (min-width: 767px){
    body{
    margin: 0;
    }

    .section{
        padding: 7rem 0 2rem;
    }

    .nav{
        height: calc(var(--header-height) + 1.5rem);
    }
    .nav__img,
    .nav__close,
    .nav__toggle{
        display: none;
    }
    .nav__list{
        flex-direction: row;
        column-gap: 3rem;
    }
    .nav__logo{
        font-size: x-large;
    }
    .nav__link{
        font-size: x-large;
        text-transform: initial;
        font-weight: initial;
    }
    .nav__login{
        font-size: x-large;
    }
    .footer__container{
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        column-gap: 1rem;
    }
    .footer__img-two{
        right: initial;
        bottom: 0;
        left: 15%;
    } 
}

@media screen and (min-width: 992px){
  .container{
    margin-left: auto;
    margin-right: auto;
  }

}
@media screen and (min-width: 1200px){
  .home__img{
    height: 420px;
  }
  .swiper-pagination{
    margin-top: var(--mb-2-5);
  }
  .footer__img-one{
    width: 120px;
  }
  .footer__img-two{
    width: 180px;
    top: 30%;
    left: -3%;
  }
}

/*********************************************************************/
.sidebar {
  height: 60%;
  width: 0;
  position: absolute;
  top: calc(var(--header-height) + 30px);
  right: 0;
  border-radius: 10px;
  background-color: #f1f1f1;
  overflow-x: hidden;
  transition: 0.5s;
  padding: 10px 0;
  z-index: 15; /* Set a higher z-index to ensure the sidebar appears above other elements */
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.wrap_content{
  max-width: 920px;
  margin: var(--margin-content) auto;
}
.btn_group{
  padding-left: 30px;
  display: flex;
}
.box{
  margin-right: 15px;
}
.sidebar_title{
  color: #272525;
  white-space: nowrap;
  margin-left: 10px;
}

.toggle-btn {
  z-index: 100;
  width: 167px;
  height: 40px;
  margin: 0 auto;
  box-shadow: 0 .75rem 1rem 0  #282e3e14;
  background-color: white;
  border-radius: .5rem;
  color: black;
  border: none;
  padding-top:2px;
  padding-bottom: 14px;
  cursor: pointer;
  font-weight: 800;
  line-height: 1.5;
  font-size: 1.5rem;
  overflow: hidden;
}

.toggle-btn:hover{
  border-bottom: 3px solid #6876f6;
}


/*************************************/
/*****CSS cho menu item******/
.product {
  background-color: #4e5d72;
  border-radius: 5px;
  position: relative;
  margin: 10px auto;
  border: 1px solid #ccc;
  padding: 10px;
  width: 330px;
}

.product h3 {
  margin-top: 0;
  color: yellow;
}

.product p {
  margin: 10px 0;
  color: #f3f9f9;
}

.product .price {
  color: #c3c3c3;
}


/* ============================= POP UP ================================ */
.popup_overlay{
  display: none;
  position: absolute;
  top:0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
}
.popup_content-sticky{
  display: none;
  position: sticky;
  color: black;
  top: 0;
  margin-left: -20px;
  transform: translateY(-45px);
  background-color: #ffffff;
  width: calc(100% + 40px);
  height: 80px;
  justify-content: space-around;
  align-items: center;
}
.popup_content{
  color: black;
}
.popup_content h1{
  margin-bottom: 80px;
}
.popup_add{
  padding: 45px 20px 60px;
  display: none;
  overflow: auto;
  overflow-x: hidden;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  z-index: 2;
  width: 500px;
  border-radius: 10px;
  height: 700px;
  background-color: #F6F7FB;
}

.termName{
  display: flex;
  width: 100%;
  height: 70px;
  background-color: #fff;
  border-radius: 10px;
  padding: 4px 16px;
  margin-bottom: 20px;
}
/* Định dạng trường nhập */
.termName h3{
  display: none;
  font-size: 16px;
  margin: 5px 0;
}
.termName input{
  align-items: center;
  width: 300px; /* Độ rộng */
  font-size: 20px; /* Kích cỡ chữ */
  background-color: transparent;
  border: none; /* Viền */
  box-shadow: none;
  outline: none; /* Loại bỏ viền khi trường nhập được focus */
}
.termName input::placeholder{
  color: #586380;
}

.termName.active {
  border-bottom: 3px solid black;
}


.termDef{
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.termDef_header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 35px;
  color: #939BBB;
  background-color: #fff;
  border-radius: 10px 10px 0 0;
  margin-bottom: 3px;
}

.deleteTerm{
  color: black;
}
.deleteTerm:hover{
  color: red;
}
.termDef_content{
  display: flex;
  align-items: center;
  border-radius: 0 0 10px 10px;
  height: 80px;
  background-color: #fff;
  margin-bottom: 10px;
}
.termDef_TN, .termDef_DN{
  margin-left: 16px;
}
.termDef_content input{
  width: 80%;
  height: 30px;
  font-size: 20px;
  border: none;
  border-bottom: 4px solid black;
  outline: none;
  box-shadow: none;
}

.termTN:focus{
  border-bottom: 4px solid #FFCD1F;
}
.termDef_TN:has(.termTN:focus-visible) p{
  color: #3cd8e5 !important;
}
.termDN:focus{
  border-bottom: 4px solid #FFCD1F;
}
.termDef_DN:has(.termDN:focus-visible) p{
  color: #3cd8e5 !important;
}

.termDef_content p{
  text-transform: uppercase;
  color: #939BC5;
  margin-top: 7px;
}
.popup_more{
  height: 40px;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius:10px;
  height: 80px;
  background-color: #ffffff;
}

.popup_more h3{
  border-bottom: 5px solid #3cd8e5;
  padding: 5px 0;
}

.popup_more:hover h3{
    color: #FFCD1F;
    border-bottom: 5px solid #FFCD1F;
}
.popup_content button, .popup_content-sticky button{
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
  float: right;
  color: white;
  background-color: #4255FF;
  width: 80px;
  height: 40px;
}
.popup_close{
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}








/* ======================== FLASH CARD ========================= */
.flip-card {
    margin-top: 20px;
    background-color: transparent;
    border-radius: 50px;
    width: 920px;
    height: 520px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* .flip-card:active .flip-card-inner {
    transform: rotateX(180deg);
} */

.flip-card-front, .flip-card-back {
    position: absolute;
    border-radius: 10px;
    display: flex;
    font-size: 52px;
    font-weight: 300;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #ffffff;
    color: black;
}

.flip-card-back {
    background-color: #ffffff;
    color: black;
    transform: rotateX(180deg);
}



/* ===================== SCROLL BAR ========================= */
::-webkit-scrollbar{
    width: 0.6rem;
    background: #cdcccc;
}

::-webkit-scrollbar-thumb{
    background: #272525;
    border-radius: .5rem;
}

/* ================== FOOTER =================== */
.footer-bar{
    background-color: #131417;
    padding: 120px 0;
}

.footer-grid{
    max-width: 1320px;
    display: grid;
    column-gap: 20px;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "a b";
    margin: 0 auto;
}

.footer-header{
    grid-area: a;
    font-size: var(--font-size-footter-header);
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -0.04em;
    max-width: unset;
}

.footer-btn{
    grid-area: b;
    text-decoration: none;
    list-style: none;
    display: inline-block;
    width: 538px;
    height: 98px;
    border-radius: 10px;
    background-color: #5551FF;
    color: white;
    font-size: 2.25rem;
    font-weight: 600;
    text-align: center;
    padding: 23px 0;
}


.footer-list{
    background-color: #131417;
}

.change-text{
    opacity: 1;
    transition: 0.3s ease;
}


/*=============== FOOTER MENU ===============*/
.footer{
  position: relative;
  overflow: hidden;
}

.footer__img-one,
.footer__img-two{
  position: absolute;
  transition: .3s;
}

.footer__img-one{
  width: 100px;
  top: 6rem;
  right: -2rem;
}

.footer__img-two{
  width: 150px;
  bottom: 4rem;
  right: 4rem;
}

.footer__img-one:hover,
.footer__img-two:hover{
  transform: translateY(-.5rem);
}

.footer__container{
  row-gap: 2rem;
}

.footer__logo{
  display: flex;
  align-items: center;
  column-gap: .5rem;
  margin-bottom: var(--mb-1);
  font-weight: var(--font-medium);
  color: var(--title-color);
}

.footer__logo-img{
  width: 20px;
}

.footer__description{
  margin-bottom: var(--mb-2-5);
}

.footer__social{
  display: flex;
  column-gap: .75rem;
}

.footer__social-link{
  display: inline-flex;
  background: var(--container-color);
  padding: .25rem;
  border-radius: .25rem;
  color: var(--title-color);
  font-size: 1rem;
}

.footer__social-link:hover{
  background: var(--body-color);
}

.footer__title{
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1);
}

.footer__links{
    display: grid;
    row-gap: .35rem;
}

.footer__link{
    font-size: var(--small-font-size);
    color: var(--text-color);
    transition: .3s;
}

.footer__link:hover{
    color: #3c87c9;
}

.footer__copy{
    display: block;
    text-align: center;
    font-size: var(--smaller-font-size);
    margin-top: 4.5rem;
}

