/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    cursor: pointer;
}

button{
  cursor: pointer;
}

ul{
    list-style: none;
}

h1,h2,h3,h4{
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}
/* translate */
body{
  min-height: 100vh;
  position: relative;
  background: linear-gradient(109.6deg, rgba(156, 252, 248, 1), rgba(110, 123, 251, 1));
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--text-color)
}

:root {
  --header-height: 3.5rem;
  --nav-color: #131417;
  /*========== Colors ==========*/
  --hue: 14;
  --first-color: hsl(var(--hue), 91%, 54%);
  --first-color-alt: hsl(var(--hue), 91%, 50%);
  --title-color: hsl(var(--hue), 4%, 100%);
  --text-color: hsl(var(--hue), 4%, 65%);
  --text-color-light: hsl(var(--hue), 4%, 55%);

  /*Green gradient*/
  --body-color: #131417;
  --container-color: linear-gradient(136deg, hsl(103, 100%, 10%) 0%, hsl(226, 97%, 51%) 100%);
  
  /*========== Font and typography ==========*/
  /* --body-font: 'Poppins', sans-serif; */
  --body-font: 'Poppins', whyte, sans-serif;
  --font-size-title: 5rem;
  --font-size-content: 1.375rem;
  --font-size-footter-header: 4rem;
  --font-size-video: 3rem;
  --font-size-box5-content: 2.375rem;
  --font-size-button: 1.125rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-black: 900;

  /*========== Margenes Bottom ==========*/
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;

  /* =========== Margenes Customize =============== */
  --margin-bottom-title: 32px;
  --margin-bottom-text-title: 24px;
  --margin-bottom-content: 32px;
  --margin-left-container: 58px;
  --margin-left-container-sm: 32px;

  /* =========== Paddies Customize =============== */
  --padding-top-function: 144px;
  --padding-top-box5-content: 100px;
  --padding-top-box5-title: 200px;

}

/* ================ My self =============================== */
:root{
  --margin-content: 250px;
}

/* =============== ANIMATION ========================= */
.toggle-btn1:hover, .toggle-btn2:hover {
  transform: translateY(-.08rem);
}

/* ======================= LAYOUT ============================= */
.container{
  max-width: 968px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid{
  display: grid;
}

/*=============== HEADER ===============*/
.header{
  width: 100vw;
  background: transparent; 
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}

/* ================== AVATAR ================= */
.circle {
  width: 50px;
  height: 50px;
  background-color: #f00; /* Màu nền */
  border-radius: 50%; /* Đảm bảo nó là một hình tròn */
  overflow: hidden; /* Ẩn nội dung vượt ra ngoài */
  display: flex; /* Sử dụng flexbox */
  justify-content: center; /* Canh giữa theo chiều ngang */
  align-items: center; /* Canh giữa theo chiều dọc */
}

.circle img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  object-fit: cover; /* Fit hình ảnh toàn bộ vào div */
}


/*=============== NAV ===============*/
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo{
  display: flex;
  align-items: center;
  column-gap: .5rem;
  font-weight: var(--font-medium);
}

.nav__logo-img{
  width: 1.5rem;
}

.nav__link,
.nav__logo{
  color: var(--title-color);
}

.nav__close{
  color: #3c87c9;
}
.nav__toggle{
  font-size: 1.25rem;
  color: #3c87c9;
  cursor: pointer;
  order: -1;
}

.nav__login{
  margin-left: 150px;
  color: #3c87c9;
}

@media screen and (max-width: 767px){
  .nav__menu{
    position: fixed;
    width: 100%;
    background: var(--nav-color);
    top: -150%;
    left: 0;
    padding: 3.5rem 0;
    transition: .4s;
    z-index: var(--z-fixed);
  }
  .nav__login{
    margin-left: 0px;
  }
  .logo-header_text{
    display: none;
  }

}
.nav__img{
  width: 100px;
  position: absolute;
  top: 0;
  right: 0;
}

.nav__close{
  font-size: 1.8rem;
  position: absolute;
  top: .5rem;
  left: .7rem;
  cursor: pointer;
}

.nav__list{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
}

.nav__link{
  text-transform: uppercase;
  font-weight: var(--font-semi-bold);
  transition: .3s;
}

.nav__link:hover{
  color: #3c87c9;
}

/* Show menu */
.show-menu{
  top: 0;
}

/* Change background header */
.scroll-header{
  /* background: var(--container-color); */
  /* background-color: #131417; */
  background-color: #131417;
}

/* Active link */
.active-link{
  position: relative;
}

.active-link::before{
  content: '';
  position: absolute;
  bottom: -.75rem;
  left: 45%;
  width: 5px;
  height: 5px;
  background-color: var(--title-color);
  border-radius: 50%;
}

.nav__login:hover{
  color: #0056b3; 
}
.nav__toggle:hover{
  color: #0056b3;
}
.nav__close:hover{
  color: #0056b3;
}
.nav__logo-img, .logo-header_text, .footer__logo-img{
  transition: .2s;
}
.nav__logo:hover .nav__logo-img{
  transform: rotateZ(90deg);
}
.footer__logo:hover .footer__logo-img{
  transform: rotateZ(90deg);
}

.nav__logo:hover .logo-header_text{
  color: #3c87c9;
}
@media screen and (min-width: 767px){
  body{
    margin: 0;
  }

  .section{
    padding: 7rem 0 2rem;
  }

  .nav{
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__img,
  .nav__close,
  .nav__toggle{
    display: none;
  }
  .nav__list{
    flex-direction: row;
    column-gap: 3rem;
  }
  .nav__logo{
    font-size: x-large;
  }
  .nav__link{
    font-size: x-large;
    text-transform: initial;
    font-weight: initial;
  }
  .nav__login{
    font-size: x-large;
  }
  .footer__container{
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    column-gap: 1rem;
  }
  .footer__img-two{
    right: initial;
    bottom: 0;
    left: 15%;
  }
}

@media screen and (min-width: 992px){
  .container{
    margin-left: auto;
    margin-right: auto;
  }

}
@media screen and (min-width: 1200px){
  .home__img{
    height: 420px;
  }
  .swiper-pagination{
    margin-top: var(--mb-2-5);
  }
  .footer__img-one{
    width: 120px;
  }
  .footer__img-two{
    width: 180px;
    top: 30%;
    left: -3%;
  }
}

/*********************************************************************/
.sidebar {
  /* height: 70%; */
  width: 0;
  position: absolute;
  /* top: calc(var(--header-height) + 1.5rem); */
  right: 0;
  background-color: #f1f1f1;
  overflow-x: hidden;
  transition: 0.5s;
  padding: 30px 0 20px;
  z-index: 15; /* Set a higher z-index to ensure the sidebar appears above other elements */
}
.sidebar_header{
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  align-items: center;
}
.close_sidebar{
  cursor: pointer;
  margin-right: 30px;
  font-size: 35px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.wrap_content{
  max-width: 1200px;
  margin: var(--margin-content) auto;
}
.btn_group{
  padding-left: 20px;
  display: flex;
}
.box{
  margin-right: 15px;
}
.sidebar_title{
  color: #272525;
  font-size: 35px;
  white-space: nowrap;
  margin-left: 10px;
  margin-right: 100px;
}

.toggle-btn {
  z-index: 100;
  width: 167px;
  height: 40px;
  margin: 0 auto;
  box-shadow: 0 .75rem 1rem 0  #282e3e14;
  background-color: white;
  border-radius: .5rem;
  color: black;
  border: none;
  padding-top:2px;
  padding-bottom: 14px;
  cursor: pointer;
  font-weight: 800;
  line-height: 1.5;
  font-size: 1.5rem;
  overflow: hidden;
}
.test_color{
  background-color: #7583FF;
  opacity: 0.5;
  border-radius: .5rem;
  transform: translateY(-0.3px);
  width: 167px;
  height: 2px;
  display: none;
}

.toggle-btn:hover .test_color{
  display: block;
}


/*************************************/
/*****CSS cho menu item******/
.product {
  border-radius: 5px;
  position: relative;
  margin: 10px auto;
  border: 1px solid #ccc;
  padding: 10px;
  width: 330px;
}

.product h3 {
  margin-top: 0;
  font-weight: 800;
  color: #4255FF;
}

.product p {
  margin: 10px 0;
  font-size: 20px;
  color: black;
}

.product .price {
  color: #727272;
}

.text-box{
  position: relative;
}

.text-box-close{
  z-index: 100;
  cursor: pointer;
  position: absolute;
  top: 20px;
  color: red;
}

/**************************/
.container{
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    border-radius: 30px;
    z-index: 5;
}
.wrapper{
  border-radius: 5px;
}
.wrapper .text-input{
  display: flex;
  column-gap: 10px;
  box-shadow: 0 .75rem 1.5rem 0 #282e3e14;
}
.text-input .to-text{
  background-color: #ecebeb;
}
.text-input textarea{
  height: 300px;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  /* background: none; */
  font-size: 18px;
  padding: 10px 50px 10px 15px;
  border-radius: 10px;
  background-color: #fff;
}
.text-input textarea::placeholder{
  color: #4c4c4c;
}
.controls, li, .icons, .icons i{
  display: flex;
  align-items: center;
  column-gap: 10px;
  justify-content: space-between;
}

.controls{
  list-style: none;
  padding: 12px 15px;
}
.controls .row .icons{
  width: 38%;
}
.controls .row .icons i{
  width: 50px;
  font-size: 25px; 
  color: #586380;
  cursor: pointer;
  transition: transform 0.2s ease;
  justify-content: center;
}
.controls .row.from .icons{
  padding-right: 15px;
  border-right: 1px solid #ccc;
}
.controls .row.to .icons{
  padding-left: 15px;
  border-left: 1px solid #ccc;
}
.controls .row select{
  color: black;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 20px;
  /* background: none; */
}
.text-input textarea::-webkit-scrollbar{
  width: 4px;
}
.controls .row select::-webkit-scrollbar{
  width: 8px;
}
.text-input textarea::-webkit-scrollbar-track,
.controls .row select::-webkit-scrollbar-track{
  background: #fff;
}
.text-input textarea::-webkit-scrollbar-thumb{
  background: #ddd;
  border-radius: 8px;
}
.controls .row select::-webkit-scrollbar-thumb{
  background: #999;
  border-radius: 8px;
  border-right: 2px solid #ffffff;
}
.controls .exchange{
  color: #58637F;
  cursor: pointer;
  font-size: 20px;
  transition: transform 0.2s ease;
}
.controls i:active{
  transform: scale(0.8);
}
.container .translateBtn{
  width: 100%;
  padding: 14px;
  outline: none;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  font-size: 17px;
  border-radius: 5px;
  background: #5372F0;
}

/* ===================== SCROLL BAR ========================= */
::-webkit-scrollbar{
  width: 0.6rem;
  background: #cdcccc;
}

::-webkit-scrollbar-thumb{
  background: #272525;
  border-radius: .5rem;
}

/* ================== FOOTER =================== */
.footer-bar{
  background-color: #131417;
  padding: 120px 0;
}

.footer-grid{
  max-width: 1320px;
  display: grid;
  column-gap: 20px;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "a b";
  margin: 0 auto;
}

.footer-header{
  grid-area: a;
  font-size: var(--font-size-footter-header);
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.04em;
  max-width: unset;
}

.footer-btn{
  grid-area: b;
  text-decoration: none;
  list-style: none;
  display: inline-block;
  width: 538px;
  height: 98px;
  border-radius: 10px;
  background-color: #5551FF;
  color: white;
  font-size: 2.25rem;
  font-weight: 600;
  text-align: center;
  padding: 23px 0;
}


.footer-list{
  background-color: #131417;
}

.change-text{
  opacity: 1;
  transition: 0.3s ease;
}


/*=============== FOOTER MENU ===============*/
.footer{
  position: relative;
  overflow: hidden;
}

.footer__img-one,
.footer__img-two{
  position: absolute;
  transition: .3s;
}

.footer__img-one{
  width: 100px;
  top: 6rem;
  right: -2rem;
}

.footer__img-two{
  width: 150px;
  bottom: 4rem;
  right: 4rem;
}

.footer__img-one:hover,
.footer__img-two:hover{
  transform: translateY(-.5rem);
}

.footer__container{
  row-gap: 2rem;
}

.footer__logo{
  display: flex;
  align-items: center;
  column-gap: .5rem;
  margin-bottom: var(--mb-1);
  font-weight: var(--font-medium);
  color: var(--title-color);
}

.footer__logo-img{
  width: 20px;
}

.footer__description{
  margin-bottom: var(--mb-2-5);
}

.footer__social{
  display: flex;
  column-gap: .75rem;
}

.footer__social-link{
  display: inline-flex;
  background: var(--container-color);
  padding: .25rem;
  border-radius: .25rem;
  color: var(--title-color);
  font-size: 1rem;
}

.footer__social-link:hover{
  background: var(--body-color);
}

.footer__title{
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1);
}

.footer__links{
  display: grid;
  row-gap: .35rem;
}

.footer__link{
  font-size: var(--small-font-size);
  color: var(--text-color);
  transition: .3s;
}

.footer__link:hover{
  color: #3c87c9;
}

.footer__copy{
  display: block;
  text-align: center;
  font-size: var(--smaller-font-size);
  margin-top: 4.5rem;
}

